html {
  scroll-behavior: smooth; /* スムーズスクロールを有効にする */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

/* すべての要素でpaddingをサイズに含める設定 */
*, *::before, *::after {
    box-sizing: border-box;
}

a {
  text-decoration: none; /* 下線を消す */
  color: inherit;        /* 文字色を親要素（周りのテキスト）と同じにする */
}